html{
    background: white;
}

body {
    background-image: url('../Images/WoodPlanksBare0347_2_S.jpg');
    background-repeat: repeat-y;
    background-size: contain;
    background-attachment: fixed;
    padding: 0px;
}

.page-div{
    background-image: url('../Images/PaperCloseupBackground.jpg');
    border: 1px black solid;
    box-shadow: 0px -10px 40px black;
    margin: auto; 
    margin-bottom: 5%;
    width: 100%;
    height: auto;
}

.page-content{
    max-width: 50vw;
    margin: auto;
    padding: 5%;
}

.home-head{
    height: 100vh;
}

.normal-head{
    height: 50vh;
}

.navbar{
    box-shadow: 0px 0px 30px;
    border-radius: 0px;
}

h2{
    text-align: center;
    margin-bottom: 4%;
    border-bottom: 1px solid black;
    font-size: 40px;
    font-family: 'Copperplate Gothic';
}

h4{
    font-size: 30px;
    border-bottom: 3px black double;
    width: 50%;
    margin-top: 30px;
}

.menu-item{
    font-weight: bolder;
    border-bottom: 1px black solid;
    margin-top: 20px;
}

.body-of-text{
    text-indent: 50px;
}

.menu{
    background: white;
    min-height: 100vh;
    padding: 20%;
    padding-top: 75px;
    
}

.menu-nav{
    position: fixed;
    margin-top: 40px;
    padding-top: 30px;
    background: white;
    width: 100vw;
}

.menu-body{
    margin:auto;
    max-width: 75%;
    padding-top: 50px;
    padding-bottom: 50px;

}

.tab-content{
        border: 2px solid black;
        box-shadow: 0px 0px 20px black;
}

footer{
    background: white;
    padding: 10px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs {
    text-align:center;
}
