body {
    background-image: url('../Images/WoodPlanksBare0347_2_S.jpg');
    background-repeat: repeat-y;
    background-size: contain;
    background-attachment: fixed;
    padding: 0px;
    font-size: x-large;
}

.page-div{
    background-image: url('../Images/PaperCloseupBackground.jpg');
    border: 1px black solid;
    box-shadow: 0px -10px 40px black;
    margin: auto; 
    margin-bottom: 5%;
    width: 100%;
    height: auto;
}

.page-content{
    max-width: 50vw;
    margin: auto;
    padding: 5%;
}

.home-head{
    height: 100vh;
}

.normal-head{
    height: 50vh;
}

.navbar{
    box-shadow: 0px 0px 30px;
    border-radius: 0px;
}

h2{
    text-align: center;
    margin-bottom: 4%;
    border-bottom: 1px solid black;
    font-size: 40px;
    font-family: 'Copperplate Gothic';
}

h4{
    font-size: 30px;
    border-bottom: 3px black double;
    width: 50%;
    margin-top: 30px;
}

.body-of-text{
    text-indent: 50px;
}
