<h3 class="menu-head text-center">Beverages</h3>

<h4>Red Wine</h4>
<h5 class="menu-item">House- Apothic Red</h5>
<p>
    Rich aromas of black cherry, mocha, and vanilla rise with every glass- Blend of Zinfandel, Merlot, Syrah, and Cabernet.
</p>

<h5 class="menu-item">BV Coastal Estates Cabernet Sauvignon</h5>
<p>
    A juicy bramble of blackberries and dark cherries, with supple tannins, accented by hints of cocoa, coffee, and spice
</p>

<h5 class="menu-item">Sterling Vineyards Pinot Noir</h5>
<p>
    Rich Napa Valley wine with silky texture and flavors of raspberry and dark cherry balanced by well integrated toasty oak.
</p>

<h5 class="menu-item">Bogle Petite Syrah</h5>
<p>
    Aromas of boysenberries & blackberries encompass every glass
</p>

<h5 class="menu-item">Brazin Zinfandel</h5>
<p>
    A big, bold zin that offers rich, black fruit and mocha that mingle with hints of spice
</p>

<h5 class="menu-item">
    St. Francis Sonoma Cabernet
</h5>
<p>
    A full-bodied Sonoma County Cabernet Sauvignon with a rich mouth feel, moderate tannins and deep ruby color accentuating the taste of black cherries, dark chocolate, and spicy oak.
</p>

<h5 class="menu-item">
    Murphy Goode Merlot
</h5>
<p>
    Exudes flavors of cherry, blueberry, and toasted vanilla
</p>

<h4>White Wine:</h4>

<h5 class="menu-item">
    House-Apothic White 
</h5>
<p>
    Savor aromas of bright citrus, honeysuckle, peach, apricot, and green apple- Blend of Chardonnay, Riesling, and Pinot Grigio
</p>

<h5 class="menu-item">
    Mirrassou Moscato
</h5>
<p>
    Intense fruit aromas of orange blossoms, peaches, and ripe pineapples overwhelm the nose.
</p>

<h5 class="menu-item">
    Snap Dragon Reisling 
</h5>
<p>
    Rich and ripe with a balance of bright citrus and floral notes over sweet stone fruit.
</p>

<h5 class="menu-item">
    Ecco Domani Pinot Grigio
</h5>
<p>
    This wine has a clear, straw yellow color with light golden reflections. A low concentration of surmaturo grapes gives the wine tropical fruit notes that make this unique vintage truly exotic with apple and pineapple aromas and flavors. The wine is full-bodied with a pleasantly soft palate and a long finish.
</p>

<h5 class="menu-item">
    New Harbor Sauvignon Blanc
</h5>
<p>
    Classic style with vibrant aromas of gooseberry, lime zest, and peach blossom followed with rich tropical fruit and bright acidity.
</p>

<h5 class="menu-item">
    Belcreme De Lys Chardonnay
</h5>
<p>
    Scrumptious California style with ripe pear and tropical fruit flvors finely accented by warm toasted oak and vanilla spices
</p>

<h5 class="menu-item">
    Sonoma Cutrer Chardonnay
</h5>
<p>
    Encompasses aromas of fuji apples, fresh roses, and lemon blossom with a smooth buttery finish
</p>

<h5 class="menu-item">
    Korbel Brut Champagne 750mL
</h5>
<p>
    A light tasting and crisp champage with a balanced medium dry finish
</p>

<h5 class="menu-item">
    Chandon Brut 187mL
</h5>
<p>
    Refreshing and elegantly balanced with apple and pear flavors and a soft finish.
</p>

<h4>International Brew</h4>
<ul>
    <li>
        International Brew:
    </li>
    <li>
        Samuel Adams Boston Lager
    </li>
    <li>
        Guiness Blonde Lager
    </li>
    <li>
        New Castle Brown Ale
    </li>
    <li>
        Blue Moon
    </li>
    <li>
        Peroni
    </li>
    <li>Amstel Lite</li>
    <li>Coors Light</li>
</ul>



