<h3>Breakfast</h3>
<h5>Served on <strong>Saturdays</strong> from <strong>10:00am - 2:30pm</strong> alongside our lunch menu</h5>

<h4>Beverages</h4>

<h5 class="menu-item">Orange Juice, Milk, and Coffee <span class="pull-right">$2</span></h5>
<h5 class="menu-item">Mimosa <span class="pull-right">$7</span></h5>

<h4>Entrees</h4>

<h5 class="menu-item">Steak and Eggs <span class="pull-right">$13</span></h5>
<p>6 Oz. Ribeye, Two Eggs, and Country Fried Potatoes</p>

<h5 class="menu-item">Chef's Breakfast Plate <span class="pull-right">$9</span></h5>
<p>
    Choice of Purnell’s Sausage or Bacon <br />
    Choice of Toast with Jam or Pancake <br />
    Country Fried Potatoes<br />
    Two Eggs
</p>

<h5 class="menu-item">Bell House Breakfast Casserole <span class="pull-right">$8</span></h5>
<p>
    Baked casserole with country fried potatoes, Purnell’s sausage, diced red pepper, eggs, and
    our signature Mornay sauce  topped with diced tomatoes and scallions
</p>

<h5 class="menu-item">Eggs Benedict <span class="pull-right">$8</span></h5>
<p>Two homemade English muffins topped with Ham, Poached Eggs, and Hollandaise Sauce</p>

<h4>Sides</h4>
<h5 class="menu-item">Bacon <span class="pull-right">$2</span></h5>
<h5 class="menu-item">Purnell's Sausage <span class="pull-right">$2</span></h5>
<h5 class="menu-item">Eggs <span class="pull-right">$1 each</span></h5>
<h5 class="menu-item">Country Fried Potatoes <span class="pull-right">$1.5</span></h5>



