<h3>Breakfast</h3>
<h5>Served on <strong>Saturdays</strong> from <strong>10:00am - 2:30pm</strong> alongside our lunch menu</h5>

<div class="menu-div">
    <h4>Beverages</h4>

    <h5>Orange Juice, Milk, and Coffee <span class="pull-right">$2</span></h5>
    <h5>Mimosa <span class="pull-right">$7</span></h5>
</div>

<div class="menu-div">
    <h4>Entrees</h4>

    <h5>Steak and Eggs <span class="pull-right">$13</span></h5>
    <p>6 Oz. Ribeye, Two Eggs, and Country Fried Potatoes</p>

    <h5>Chef's Breakfast Plate <span class="pull-right">$9</span></h5>
    <p>    
        Choice of Purnell’s Sausage or Bacon <br />
        Choice of Toast with Jam or Pancake <br />
        Country Fried Potatoes<br />
        Two Eggs
    </p>

    <h5>Bell House Breakfast Casserole <span class="pull-right">$8</span></h5>
    <p> Baked casserole with country fried potatoes, Purnell’s sausage, diced red pepper, eggs, and
        our signature Mornay sauce  topped with diced tomatoes and scallions</p>
</div>
