<h3>Dinner Menu</h3>

<h4>Starters</h4>
<h5 class="menu-item">Creamy Tomato Basil<span class="pull-right">Cup: 4$  Bowl: $5.5</span></h5>
<h5 class="menu-item">Seafood Cakes<span class="pull-right">$8</span></h5>
<p>Served with Remoulade & Cocktail Sauce</p>

<h5 class="menu-item">Spinach Artichoke Crostini<span class="pull-right">$7</span></h5>
<p>Blend of Spinach, Artichokes, Brie, Monterey Jack, and Parmesan Cheeses on Crostini</p>

<h5 class="menu-item">Blackberry Brie Tarts <span class="pull-right">$7</span></h5>
<p>Flaky Tarts filled with Creamy Brie and Blackberry Preserves topped with a Toasted Almond</p>

<h5 class="menu-item">Bruschetta<span class="pull-right">$7</span></h5>
<p>Diced Tomatoes, Red Onions, fresh Basil, and Balsamic Vinegar on toasted French Baguettes</p>

<h5 class="menu-item">Fried Green Tomatoes<span class="pull-right">$7</span></h5>
<p>Served with an herbed Horseradish Cream</p>

<h4>Salads</h4>
<h5 class="menu-item">Dressings</h5>
<h6>Homemade</h6>
<ul>
    <li>Ranch</li>
    <li>Tomato Vinaigrette</li>
    <li>Balsamic Vinaigrette</li>
    <li>Bleu Cheese</li>
</ul>
<h6>Other</h6>
<ul>
    <li>FF Raspberry Vinaigrette</li>
    <li>Italian</li>
    <li>Honey Mustard</li>
    <li>Thousand Island</li>
</ul>

<h5 class="menu-item">Bell House Salad<span class="pull-right">$4</span></h5>
<p>Iceberg & Romaine lettuce tossed with carrots, cucumbers, tomatoes, and topped with croutons </p>

<h5 class="menu-item">Goat Cheese Salad<span class="pull-right">$8</span></h5>
<p>Baby Spinach, dried cranberries, candied pecans, panko crusted goat cheese medallion, red onion, and mandarin orange segments</p>

<h5 class="menu-item">Bell House Wedge<span class="pull-right">$8</span></h5>
<p>A Wedge of Iceberg topped with diced Tomatoes, diced Cucumber, thinly sliced Red Onion, Bleu Cheese Crumbles,
garlic herb roasted Croutons, Bacon Crumbles, and Homemade Bleu Cheese dressing</p>

<h5 class="menu-item">Caesar Salad<span class="pull-right">$6</span></h5>
<p>Iceberg & Romaine tossed with our homemade Caesar dressing, parmesan cheese, red onions, and housemade croutons</p>

<h6>Add to Any Salad</h6>
<ul>
    <li>Chicken <strong>$3.5</strong></li>
    <li>Salmon <strong>$5</strong></li>
    <li>Steak <strong>$5</strong></li>
    <li>Shrimp <strong>$4</strong></li>
</ul>

<h4>Specials</h4>
<p>Each entrée comes with your choice of two sides</p>

<h5 class="menu-item">Beef Tips with a Mushroom Demi-Glace<span class="pull-right">$20</span></h5>
<p>Tender Filet Tips with a silky savory Mushroom Demi-Glace</p>

<h5 class="menu-item">Prime Rib <span class="pull-right">$28</span></h5>
<p>10 oz. cut with a Horseradish Cream</p>
<p>Ask server for larger portions</p>

<h5 class="menu-item">Blackberry Feta Pork Tenderloin<span class="pull-right">$20</span></h5>
<p>Roasted Tenderloin with a Blackberry Glaze topped with Feta Cheese</p>

<h5 class="menu-item">Tuscan Cod <span class="pull-right">$20</span></h5>
<p>Crispy Pan Seared Cod Filet with Italian Seasonings topped with a Tomato Mélange</p>

<h5 class="menu-item">Crispy Rosemary Chicken <span class="pull-right">$17</span></h5>
<p>A juicy Chicken Breast coated in a crispy Rosemary Panko Crust with a light and tangy Lemon Sauce</p>

<h5 class="menu-item">Ribeye</h5>
<p>Choose your size</p>
<ul>
    <li>10 oz. <strong>$25</strong></li>
    <li>12 oz. <strong>$28</strong></li>
    <li>16 oz. <strong>$32</strong></li>
    <li>Shrimp <strong>$4</strong></li>
</ul>

<h5 class="menu-item">Cedar Plank Salmon <span class="pull-right">$20</span></h5>
<p>Cedar Roasted Salmon Filet with a Maple Pineapple Glaze</p>

<h5 class="menu-item">Henry Bain Pork <span class="pull-right">$18</span></h5>
<p>Zesty Henry Bain glaze over a Roasted Pork Tenderloin</p>

<div class="text-center">
    <div class="well text-left">
        <h6>Side Items</h6>
        <ul>
            <li>Marinated Mushrooms</li>
            <li>Steamed Asparagus</li>
            <li>Glazed Carrots</li>
            <li>Steamed Broccoli</li>
            <li>Bell House Salad</li>
            <li>Twice Baked Potato</li>
            <li>Herb Roasted Potatoes</li>
            <li>Special Side of the Evening</li>
        </ul>
    </div>
</div>

<h4>Bell House Favorites & Pastas</h4>
<p>The following items are served with a Bell House Salad</p>

<h5 class="menu-item">Classic Kentucky Hot Brown <span class="pull-right">$15</span></h5>
<p>Sliced Turkey on Toast Points, covered in our signature Mornay Sauce,
topped with Bacon and a Tomato, then baked to perfection</p>

<h5 class="menu-item">Isle of Capri Pasta <span class="pull-right">$14</span></h5>
<p>Fresh seasonal Vegetables and Sundried Tomatoes sautéed in Olive Oil and Garlic tossed with herbed Cavatappi Pasta.
Garnished with Parmesan Cheese</p>
<p>Available with Gluten Free Pasta for an additional $2</p>
<p>Specially prepared for Vegan diet if requested</p>

<h5 class="menu-item">Angel Hair Marinara <span class="pull-right">$11</span></h5>
<p>Angel Hair Pasta tossed in our house made Marinara Sauce</p>
<p>Add Homemade Meatballs for $1 each</p>

<h5 class="menu-item">Creamy Cajun Pasta<span class="pull-right"></span></h5>
<p></p>

<h5 class="menu-item"><span class="pull-right"></span></h5>
<p></p>

<h5 class="menu-item"><span class="pull-right"></span></h5>
<p></p>

<h5 class="menu-item"><span class="pull-right"></span></h5>
<p></p>

<h5 class="menu-item"><span class="pull-right"></span></h5>
<p></p>

<h5 class="menu-item"><span class="pull-right"></span></h5>
<p></p>

Shrimp $19 Chicken $17
Spicy pan seared Chicken Breast or Shrimp served on top of Linguine
tossed in a Cajun Cream Sauce
with sautéed Red Peppers and Onions

Traditional Meat Lasagna $15
Layers of Noodles, house made Marinara Sauce, Beef,
Purnell’s Italian Sausage, three Cheeses, and Herbs

Chicken Parmesan $18
Breaded Chicken Breast served on a bed of
Angel Hair & Marinara topped with
melted Mozzarella and Parmesan Cheeses
Children's Menu
 Lil’ Ringers
$5.50 for Children 10 and Under
Curly Pasta with Marinara
Add homemade meatballs $1.00 each
Curly Pasta with Parmesan Cheese
Cheezy Pizza

Big Ringers
Bob’s Burger $8.50
6 oz. Burger with Caramelize Onions and your choice of 
American, Provolone, Swiss, or Cheddar Cheese.
Served with Kettle Cooked or Baked Chips
Add Lettuce & Tomato upon request

Hot Brown $8.99
Sliced Turkey on Toast Points, covered in our
signature Mornay Sauce, topped with Bacon and a Tomato,
then baked to perfection