<h3>Lunch</h3>
<h5>Served <strong>Tuesday - Saturday</strong> from <strong>11:00am - 2:00pm</strong></h5>

<h4>Homemade Soups</h4>
<p>Top with homemade croutons</p>

<h5 class="menu-item">Creamy Tomato Basil<span class="pull-right">Cup: 4$  Bowl: $4.5</span></h5>
<h5 class="menu-item">Soup Du Jour <span class="pull-right">Cup: 4$  Bowl: $4.5</span></h5>
<p>Made fresh daily</p>

@* Salads *@
<h4>Salads</h4>
<h5 class="menu-item">Dressings</h5>
<h6>Homemade</h6>
<ul>
    <li>Ranch</li>
    <li>Tomato Vinaigrette</li>
    <li>Balsamic Vinaigrette</li>
    <li>Bleu Cheese</li>
</ul>
<h6>Other</h6>
<ul>
    <li>FF Raspberry Vinaigrette</li>
    <li>Italian</li>
    <li>Honey Mustard</li>
    <li>Thousand Island</li>
</ul>

<h5 class="menu-item">Goat Cheese Salad<span class="pull-right">$8</span></h5>
<p>Baby Spinach, dried cranberries, candied pecans, panko crusted goat cheese medallion, red onion, and mandarin orange segments</p>

<h5 class="menu-item">Bell House Salad<span class="pull-right">$4</span></h5>
<p>Iceberg & Romaine lettuce tossed with carrots, cucumbers, tomatoes, and topped with croutons </p>

<h5 class="menu-item">Bell House Chicken Salad Plate<span class="pull-right">$8</span></h5>
<p>Chicken, fresh apples, dried cranberries, celery, and walnuts tossed in mayonnaise. Served with fresh fruit</p>

<h5 class="menu-item">Caesar Salad<span class="pull-right">$7</span></h5>
<p>Iceberg & Romaine tossed with our homemade Caesar dressing, parmesan cheese, red onions, and housemade croutons</p>

<h6>Add to Any Salad</h6>
<ul>
    <li>Chicken <strong>- $3.5</strong></li>
    <li>Salmon <strong>$5</strong></li>
    <li>Steak <strong>$5</strong></li>
    <li>Shrimp <strong>$4</strong></li>
</ul>

@* Combos *@
<h4>Lunch Combos</h4>

<h5 class="menu-item">Soup &amp; Salad<span class="pull-right">$8</span></h5>
<p>Bowl of Soup & a Bell House Salad</p>

<h5 class="menu-item">Half Sandwich &amp; Soup<span class="pull-right">$8</span></h5>
<p>Cup of Soup & Half a Sandwich. Choose either chicken salad, pimento cheese, or BLT. Served with chips or fruit</p>


@* Bell House Favorites *@
<h4>Bell House Favorites</h4>

<h5 class="menu-item">Garden Quiche<span class="pull-right">$8</span></h5>
<p>Broccoli, mushrooms, red bell peppers, onions, and cheddar cheese.  Served with fresh fruit</p>

<h5 class="menu-item">Hot Brown<span class="pull-right">$10</span></h5>
<p>Sliced turkey on toast points, covered in our signature mornay sauce (cheese sauce). Topped with bacon and tomato, then baked!</p>

<h5 class="menu-item">Isle of Capri Pasta<span class="pull-right">$9</span></h5>
<p>
    Seasonal vegetables & sundried tomatoes sautéed in olive oil & garlic, with herb sauce and Cavatappi pasta. 
    Garnished with Parmesan cheese. 
    Served with French Baguette slices.
</p>
<p>Gluten Free Pasta available for an additional $2 charge!</p>
<ul>
    <li>Chicken <strong>$3.5</strong></li>
    <li>Salmon <strong>$5</strong></li>
    <li>Steak <strong>$5</strong></li>
    <li>Shrimp <strong>$4</strong></li>
</ul>

@* Sandwiches *@
<h4>Sandwiches</h4>
<p>
    Served with kettle cooked potato chips, baked chips, OR fruit and a pickle spear
    Substitute Baked Potato Salad, Southern Grape Salad, or Fried Green Tomatoes for $1
</p>

<h5 class="menu-item">Bob’s Burger<span class="pull-right">$9</span></h5>
<p>6 oz. grilled burger with caramelized onions and your choice of American, Swiss, Provolone, or Cheddar Cheese</p>
<p>Lettuce and Tomato available upon request</p>
<p>Add $1 each for Mushrooms, Bacon, and Pimento Cheese</p>
<p>Add $0.50 each for Goat Cheese, Bleu Cheese, or a Fried Green Tomato</p>

<h5 class="menu-item">Bell House Classic Club<span class="pull-right">$9</span></h5>
<p>Honey roasted turkey, ham, bacon, provolone cheese, tomato, lettuce, and herb mayonnaise on toasted white, wheat, or rye bread</p>

<h5 class="menu-item">Bell House Chicken Salad Sandwich<span class="pull-right">$9</span></h5>
<p>Chicken, dried cranberries, fresh apples, celery, and walnuts tossed in mayonnaise. Served with lettuce on white, wheat, or rye bread</p>

<h5 class="menu-item">Pimento Cheese<span class="pull-right">$8</span></h5>
<p>The ol' family recipe of the perfect blend of three cheeses on either white, wheat, or rye bread. Grilled or Cold.</p>
<p>Add Apple Slices or Bacon for $1 each </p>

<h5 class="menu-item">Reuben<span class="pull-right">$9</span></h5>
<p>Corned Beef, Sauerkraut, Thousand Island dressing, and Swiss cheese on grilled rye bread</p>

<h5 class="menu-item">BLT<span class="pull-right">$8</span></h5>
<p>Crisp bacon, fresh lettuce & tomatoes with pesto mayo on a toasted white, wheat, or rye bread </p>

<h5 class="menu-item">French Dip<span class="pull-right">$9</span></h5>
<p>Thinly sliced roast beef and provolone cheese on a toasted baguette with a garlic horseradish mayo served with a hot Au Jus on the side</p>

@* Grilled Flats *@
<h4>Grilled Flats</h4>
<p>
    Served with kettle cooked potato chips, baked chips, OR fruit and a pickle spear
    Substitute Baked Potato Salad, Southern Grape Salad, or Fried Green Tomatoes for $1
</p>

<h5 class="menu-item">Tuscan Grilled Veggie<span class="pull-right">$9</span></h5>
<p>The perfect blend of spinach, artichokes, brie, Monterey jack, and parmesan cheeses with fresh mushrooms grilled on flatbread</p>
<p>Add bacon for $1</p>

<h5 class="menu-item">Grilled Hummus Flat<span class="pull-right">$8</span></h5>
<p>Roasted red pepper hummus, feta cheese, organic spinach and diced tomatoes</p>

<h5 class="menu-item">Asiago Turkey Flat<span class="pull-right">$9</span></h5>
<p>Grilled Flat Bread, honey roasted turkey, granny smith apples, organic spinach, diced bacon and asiago mayo</p>

@* Lil Ringers *@
<h4>Lil' Ringers Menu</h4>

<h5 class="menu-item">Includes chips or fruit and a drink<span class="pull-right">$5</span></h5>
<ul>
    <li>Grilled Cheese </li>
    <li>PB & J</li>
    <li>Cheese Quesadilla</li>
</ul>

<h5 class="menu-item">Includes a drink<span class="pull-right">$5</span></h5>
<ul>
    <li>Curly Pasta with Parmesan Cheese or Marinara</li>
    <li>Cheesy Pizza</li>
</ul>