
@{
    ViewBag.Title = "About";
}

<div class="normal-head"><h2>About</h2></div>

<div class="page-div">
    <div class="page-content">
        <h2>Hours</h2>
        <h4>Brunch</h4>
        <p><strong>Saturdays:</strong> 10:00am - 2:30pm</p>
        <h4>Lunch</h4>
        <p><strong>Tuesday - Friday:</strong> 11:00am - 2:00pm</p>
        <p><strong>Saturday: </strong> 10:00am - 2:30pm</p>
        <h4>Dinner</h4>
        <p><strong>Thursday - Saturday:</strong> 5:00pm - 9:00pm</p>
        <strong>Half price bottles of wine on Thursday!</strong>
        <h4>Afternoon Tea</h4>
        <p><strong>First Tuesday of every month:</strong> 2:30 - 4:30</p>
        <p>
            <strong>Reservations are required.</strong> Please @Html.ActionLink("give us a call", "Contact", "Contact")
            to set up your reservation.
        </p>
    </div>
</div>

<div class="page-div">
    <div class="page-content">
        <h2>Reviews and Press</h2>
        <h3>Read what people are saying!</h3>
        <div class="widget">
            <div id="TA_linkingWidgetRedesign636" class="TA_linkingWidgetRedesign">
                <ul id="ixFg18s9Tg1f" class="TA_links OfeuwLuFJC">
                    <li id="SsrRX8iBPEDG" class="jZuNFc2">
                        <a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/partner/tripadvisor_logo_115x18-15079-2.gif" alt="TripAdvisor" /></a>
                    </li>
                </ul>
            </div>
            <script src="https://www.jscache.com/wejs?wtype=linkingWidgetRedesign&amp;uniq=636&amp;locationId=1900660&amp;lang=en_US&amp;border=true&amp;display_version=2"></script>
        </div>

        <h4>Yelp</h4>
        <h4>@Html.ActionLink("Groupon", "https://www.groupon.com/biz/shelbyville-ky/bell-house-restaurant-2")</h4>
    </div>
    <div class="page-content">
        <h5>Kathy Witt wrote an article in Kentucky Living Magazine April 2015 that we're included in!</h5>
        <h4>@Html.ActionLink("Link to article", "http://www.kentuckyliving.com/beer-cheese-trail-kentucky/")</h4>
    </div>

</div>

<div class="page-div">
    <div class="page-content">
        <div class="body-of-text">
            <h2>History</h2>
            <p class="body-of-text-text">
                Bell House was built in 1902 as home to Dr. & Mrs. E.B. Smith. In 1941, it was bought by Guy Downs
                Realty & the Armstrong Agency, who transformed the house into an office building.
            </p>
            <p class="body-of-text-text">
                The bell, currently in the front yard of Bell House, was made by William Kaye & Co. in Louisville,
                Kentucky in the mid-1800s. It began as the city fire bell which sat on top of the firehouse in
                the town square(presently Commonwealth Bank). When the firehouse was remodeled in the 1950s, the
                bell needed to be moved. Mr. James Hackworth was on the City Council, and he offered to give the
                bell a home in the front yard of the Armstrong Agency.
            </p>
            <p class="body-of-text-text">
                In March of 2007, the house was bought & restored by Robert J. Andriot who then transformed it
                into the wonderful restaurant it is today.
            </p>
            <p class="body-of-text-text">
                The bell now adorns the front yard of the Bell House Restaurant and is rung daily to celebrate
                the joy of delicious food!
            </p>
        </div>

    </div>
</div>


    <div class="gallery">
        <h2>TODO Gallery</h2>
    </div>